* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  background: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 3);
  width: 400px;
}

.form {
  padding: 10px 40px;
}

h2 {
  text-align: center;
  /* margin: 0 0 0 20px; */
}

.form-control {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: none;
}

.form button {
  background: #3752ce;
  cursor: pointer;
  color: #ffff;
  border: 2px solid #3752ce;
  display: block;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}
